@{
    ViewBag.Title = "About";
}

<h1>About Us</h1>
<hr />
<p>Whenever you buy a Car Part from us, we want you to be confident that it's going to be the right part for you. That's been our primary goal throughout our history. That's why we only sell the highest Car Part for all major car brands.</p>



